In [5]:
import os
import pandas as pd
import mne

dataset_folder = os.path.join(os.getcwd(), 'dataset')

def df_from_csv(filename, skiprows=0):
    f = os.path.join(dataset_folder, filename)
    return pd.read_csv(f, delimiter='\t|\n|,|;', engine='python', skiprows=skiprows)

test_data = df_from_csv('S00_data.csv')
test_data = test_data.iloc[:, :3]

rename_map = {
    'Time (s)': 'timestamp',
    'FP1': 'fp1',
    'FP2': 'fp2',

}

test_data.rename(columns=rename_map, inplace=True)
test_data

        timestamp          fp1           fp2
0        0.000000  8267.955078  -8179.844238
1        0.003906  8077.987305  -8250.586914
2        0.007812  8480.788086  -8054.763672
3        0.011719  8714.296875  -7958.986328
4        0.015625  8337.893555  -8142.181641
...           ...          ...           ...
25563  102.251953  2029.337158 -11616.469727
25564  102.255859  2339.199463 -11479.810547
25565  102.259766  2480.663574 -11437.655273
25566  102.263672  2188.548584 -11564.725586
25567  102.267578  2008.795898 -11619.978516

[25568 rows x 3 columns]

In [6]:
test_label = df_from_csv('S00_labels.csv', 2)
test_label = test_label.reset_index(names='blink_time')
test_label

    blink_time  blinks
0         4.42       1
1         8.68       1
2        12.47       1
3        16.33       1
4        20.35       1
5        24.48       1
6        28.84       1
7        32.25       1
8        36.25       1
9        40.37       1
10       44.44       1
11       48.32       1
12       52.43       1
13       56.48       1
14       60.50       1
15       64.22       1
16       68.34       1
17       72.42       1
18       76.30       1
19       80.32       1
20       84.34       1
21       88.34       1
22       92.25       1
23       96.35       1
24      100.45       1

In [7]:
test_data['is_event'] = 0

# For each timestamp in Table B
for blink_time in test_label['blink_time']:
    idx = (test_data['timestamp'] - blink_time).abs().idxmin()
    # Set 'is_event' to 1 for that index
    test_data.at[idx, 'is_event'] = 1

test_data

        timestamp          fp1           fp2  is_event
0        0.000000  8267.955078  -8179.844238         0
1        0.003906  8077.987305  -8250.586914         0
2        0.007812  8480.788086  -8054.763672         0
3        0.011719  8714.296875  -7958.986328         0
4        0.015625  8337.893555  -8142.181641         0
...           ...          ...           ...       ...
25563  102.251953  2029.337158 -11616.469727         0
25564  102.255859  2339.199463 -11479.810547         0
25565  102.259766  2480.663574 -11437.655273         0
25566  102.263672  2188.548584 -11564.725586         0
25567  102.267578  2008.795898 -11619.978516         0

[25568 rows x 4 columns]