In [4]:
import os
import pandas as pd
import mne

dataset_folder = os.path.join(os.getcwd(), 'dataset')

def df_from_csv(filename, skiprows=0):
    f = os.path.join(dataset_folder, filename)
    return pd.read_csv(f, delimiter='\t|\n|,|;', engine='python', skiprows=skiprows)

test_data = df_from_csv('S00_data.csv')
test_data

,Time (s),FP1,FP2,Channel 3,Channel 4,Channel 5,Channel 6,Channel 7,Channel 8,Channel 9,Channel 10,Channel 11,Sampling Rate
0,0.000000,8267.955078,-8179.844238,-33746.996094,-187500.01563,187500.0,187500.0,-187500.01563,187500.0,0.0,0.0,0.0,250.0
1,0.003906,8077.987305,-8250.586914,-35346.332031,-187500.01563,187500.0,187500.0,-187500.01563,187500.0,0.0,0.0,0.0,NaN
2,0.007812,8480.788086,-8054.763672,-34270.945313,-187500.01563,187500.0,187500.0,-187500.01563,187500.0,0.0,0.0,0.0,NaN
3,0.011719,8714.296875,-7958.986328,-32953.109375,-187500.01563,187500.0,187500.0,-187500.01563,187500.0,0.0,0.0,0.0,NaN
4,0.015625,8337.893555,-8142.181641,-34229.640625,-187500.01563,187500.0,187500.0,-187500.01563,187500.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25563,102.251953,2029.337158,-11616.469727,-24644.898438,-187500.01563,187500.0,187500.0,-187500.01563,187500.0,0.0,0.0,0.0,NaN
25564,102.255859,2339.199463,-11479.810547,-23461.373047,-187500.01563,187500.0,187500.0,-187500.01563,187500.0,-224.0,-112.0,8656.0,NaN
25565,102.259766,2480.663574,-11437.655273,-22287.548828,-187500.01563,187500.0,187500.0,-187500.01563,187500.0,0.0,0.0,0.0,NaN
25566,102.263672,2188.548584,-11564.725586,-23309.337891,-187500.01563,187500.0,187500.0,-187500.01563,187500.0,0.0,0.0,0.0,NaN
25567,102.267578,2008.795898,-11619.978516,-24611.013672,-187500.01563,187500.0,187500.0,-187500.01563,187500.0,0.0,0.0,0.0,NaN

In [5]:
test_label = df_from_csv('S00_labels.csv', 2)
test_label

        blinks
4.42         1
8.68         1
12.47        1
16.33        1
20.35        1
24.48        1
28.84        1
32.25        1
36.25        1
40.37        1
44.44        1
48.32        1
52.43        1
56.48        1
60.50        1
64.22        1
68.34        1
72.42        1
76.30        1
80.32        1
84.34        1
88.34        1
92.25        1
96.35        1
100.45       1